<div id="container">
    <div id="loginLogo" class="d-flex justify-content-center">
        <img src="../../assets/melitaLogoBlue.png">
    </div>
    <div id="loginFormDiv" class="d-flex justify-content-center align-self-center">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">

            <input class="form-control" type="text" placeholder="Username" formControlName="username">
            <span *ngIf="username && username.invalid && username.touched"> Must contain 4 characters</span>
            <br>
            <input class="form-control" type="password" placeholder="Password" formControlName="password">
            <span *ngIf="password && password.invalid && password.touched"> Must contain 8 characters</span>
            <br>
            <button class="btn form-control"  [disabled]=loginForm.invalid>Login</button>
        </form>
    </div>
</div>
