<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <img src="..\assets\login.jpg" id="background" alt="">
  <div id="form">
    
    <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
      <input type="text" placeholder="Username" formControlName="username">
      <br>
      <span *ngIf="username && username.invalid && username.touched"> Enter a valid username</span>
      <input type="password" placeholder="Password" formControlName="password">
      <br>
      <span *ngIf="password && password.invalid && password.touched"> Enter a valid password</span>
      <button [disabled]=loginForm.invalid>Login</button>
    </form>
  </div>
</body>

</html>