body{
   font-family: 'Muli';
   color:white;
}
::placeholder{
    font-family: 'Muli';
}
#loginFormDiv {
    background: url('../assets/login.jpg') no-repeat center center fixed;
    background-size: cover;
    position: fixed; 
    top: 0; 
    left: 0;  
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}
#loginFormDiv form{

    border: 3px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
}
input{
    width:100%;
    height: 40px;
    border: 1px;
    color: #df4297
}