<body>
  <!--<img src="..\assets\login.jpg" id="background" alt=""-->
  <div id="container">
    <div id="loginLogo" class="d-flex justify-content-center">
      <img src="..\assets\melitalogo.png">
    </div>
    <div id="loginFormDiv" class="d-flex justify-content-center align-self-center">
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()">

        <input class="form-control" type="text" placeholder="Username" formControlName="username">
        <br><br>
        <span *ngIf="username && username.invalid && username.touched"> Enter a valid username</span>
        <input class="form-control" type="password" placeholder="Password" formControlName="password">
        <br><br>
        <span *ngIf="password && password.invalid && password.touched"> Enter a valid password</span>
        <button class="form-control" [disabled]=loginForm.invalid>Login</button>
      </form>
    </div>
  </div>
</body>